.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.main .title {
    margin-bottom: 50px;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* width: 100%; */
    max-width: 1440px;
    gap: 50px;
}

#project, #about-me {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1;
    gap: 30px;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-container h2 {
    color: #FFFAF0;
    margin-bottom: 10px;
}

.about-container p, .about-container ul {
    color: white;
    line-height: 1.6;
}

.about-container ul {
    display: flex;
    flex-direction: column;
}

.about-container ul li {
    display: flex;
    justify-content: left;
}