.snowflake-loader {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f8ff;
    overflow: hidden;
   background-color: rgba(255, 255, 255, 0.01);
  }

  .snowflake-loader .patienter {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }


  .snowflake {
    font-size: 100px;
    color: skyblue;
    animation: move-s 4s ease-in-out infinite, spin 2s linear infinite;
  }
  
  /* Animation du mouvement en S */
  @keyframes move-s {
    0% {
      transform: translateX(0) translateY(0); /* Départ au centre */
    }
    25% {
      transform: translateX(-50px) translateY(30px); /* Vers la gauche */
    }
    50% {
      transform: translateX(50px) translateY(60px); /* Vers la droite */
    }
    75% {
      transform: translateX(-50px) translateY(90px); /* Vers la gauche */
    }
    100% {
      transform: translateX(0) translateY(120px); /* Retour au centre, plus bas */
    }
  }
  