  .card {
    margin: 10px;
  }
  
  .card-link {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .card-link:hover {
    transform: scale(1.05);
  }
  
  .active .card-link {
    background-color: #d83b3b;
    color: #fff;
    cursor: pointer;
  }
  
  .inactive .card-link {
    background-color: #aaa; /* Gris pour les cartes inactives */
    color: #666;
    cursor: not-allowed;
  }
  
  .inactive .card-link:hover {
    transform: none; /* Pas d'effet de survol pour les cartes inactives */
  }
  