.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d83b3b;
    color: white;
  }
  
  .header h1 {
    font-size: 1.5em;
    margin: 0;
    color: #000;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffcccb;
  } 


  /* Nécessaire pour le menu déroulant */

  .nav-links li {
    position: relative; 
    margin-left: 15px;
  } 
  
  /* .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .nav-links a:hover {
    background-color: #a52a2a;
  } */
  
  /* Menu déroulant */
   .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #d83b3b;
    padding: 10px 0;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu li {
    margin: 0;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
  }
  
  .dropdown-menu a:hover {
    background-color: #a52a2a;
  }
   
  /* Montrer le menu déroulant au survol */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
   