.footer {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #d83b3b;
  color: white;
  font-size: 0.9rem;
}

.footer p {
  margin: 5px 0;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #ffcccb;
}

.copyright {
display: flex;
justify-content: space-between;
flex-direction: row; 
align-items: center;
}

.social-links {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.social-links img {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}

.social-links img:hover {
  transform: scale(1.2);
  /* Zoom au survol */
}

.heart-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  font-size: 18px;
  color: red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Footer en colonne sur petits écrans */
@media (max-width: 850px) {
  .copyright {
    justify-content:space-between;
    align-items: center;
    gap: 30px;
  }

  .ccopyright {
    display: flex;
    align-items: start;
    justify-content:center;
    flex-direction: column;
    
  }

   .ccopyright .droits {
    display: flex;
    align-items: start;
  }

}

@media (max-width: 750px) {
  .copyright {
    flex-direction: column;
    align-items: center;
  }

  .footer p,
  .footer a {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
  }
}
