.carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    border: 2px solid #b22222;
    border-radius: 10px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.carousel-arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.carousel-arrow.prev {
    left: -80px;
}

.carousel-arrow.next {
    right: -80px;
}

.video-container {
    position: relative;
    text-align: center;
}

.counter {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #b22222;
    font-weight: bold;
    text-align: center;


    background-color: #ffffff;
    /* Fond blanc pour le contraste */
    padding: 5px 15px;
    /* Ajout d'espace autour du texte */
    border-radius: 10px;
    /* Coins arrondis pour un effet moderne */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /* Ombre pour le relief */
    display: inline-block;
}